node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
cache-zk
artifacts
artifacts-zk

# yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions